<!DOCTYPE html>
<html>
  <head>
    <title>Portland Rent Data</title>
    <link rel="shortcut icon" href="/img/apt_icon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/css/bootstrap.min.css' rel="stylesheet" type="text/css"/>
    <link href='/css/w3.css' rel="stylesheet" type="text/css"/>
    <link href='/css/Gcss.css' rel="stylesheet" type="text/css"/>
    <link href='/css/font-awesome.min.css' rel="stylesheet" type="text/css"/>
    <link href='/css/styles.css' rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <%= yield %>
    <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
      }
    }
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
    }
    function initMap() {
        var uluru = {lat: 45.521189, lng: -122.677424};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjBr813KHf5P4rG18b1eWfu5HtCUjVJbI&callback=initMap">
    </script>
  </body>
</html>
