<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>PORTFOLIO</b></h4>
    <p class="w3-text-grey">Insert User Name</p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
    <a href="#my_apartments" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>My Apartments</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Apartment Data</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-button w3-white"><i class="fa fa-building w3-margin-right"></i>Squart Ft.</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-bed w3-margin-right"></i>Bed Rooms</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-usd w3-margin-right"></i>Cost</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-arrows w3-margin-right"></i>Region</button>
    </div>
    </div>
  </header>

  <h1>GRAPH GO HERE</h1><br><br><br>


  <h4>DATA DATA</h4>
  <!-- Compare bars /  -->
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
  </div>
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
  </div>
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
  </div>

  <hr>

<h1>INPUT FIELDS</h1>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
